<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/mis-proyectos']"><i class="fas fa-home"></i></a>
                <li class="breadcrumb-item"><a [routerLink]="['/mis-proyectos', proyectoId, 'overview']">Proyecto</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Roles</li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <h5 class="font-weight-bolder text-black-50">
                    Roles
                </h5>
            </div>
            <div class="col-12">
                <button type="button"
                    class="btn btn-success btn-sm my-2" data-toggle="modal"
                    data-target="#addRolProyectoRolesComponent">AGREGAR <i class="fas fa-plus ml-2"></i></button>
            </div>
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="width: 80%;">Nombre</th>
                                <th style="width: 20%;" class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of roles | paginate: { itemsPerPage: 10, currentPage: p }">
                                <td>{{i.nombre}}</td>
                                <td class="text-center">
                                    <a (click)="obtenerPermisos(i)"
                                        data-toggle="modal" data-target="#modalPermisos" style="cursor: pointer;"
                                        title="Gestionar permisos" class="text-primary">
                                        <i class="fas fa-list-ul"></i></a>
                                    <span *ngIf="i.nombre !=  'Gerente'">
                                        <a
                                            (click)="eliminarRol(i.id)" style="cursor: pointer;" title="Eliminar Rol"
                                            class="text-danger ml-2">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel="" nextLabel="">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addRolProyectoRolesComponent" tabindex="-1" role="dialog" aria-labelledby="addRolModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addRolModalLabel">Agregar rol</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-cogs"></i></span>
                            </div>
                            <input [(ngModel)]="rol" type="text" class="form-control" placeholder="Nombre"
                                aria-label="nombres" aria-describedby="nombres">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button (click)="postRol()" type="button" class="btn btn-primary">
                    <span *ngIf="loadingSave" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span>
                    <span [class.sr-only]="loadingSave">Guardar</span>
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalPermisos" tabindex="-1" role="dialog" aria-labelledby="modalPermisosLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl  modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalPermisosLabel">Permisos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <h5><b>Rol:</b> {{rolPermisosModalRestul.rol.nombre}}</h5>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="card shadow-sm mb-4 mt-2">
                                <div class="card-header py-3">
                                    <div class="row h-100">
                                        <div class="col-12">
                                            <h6 class="m-0 font-weight-bold text-azul">
                                                Permisos asignados <div *ngIf="loading"
                                                    class="spinner-border spinner-border-sm text-success ml-1"
                                                    role="status"></div>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead class="bg-primary text-white">
                                                <tr>
                                                    <th style="width: 10%;">#</th>
                                                    <th style="width: 90%;">Nombre</th>
                                                    <th style="width: 10%;" class="text-center">Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    *ngFor="let i of rolPermisosModalRestul.permisos_asignados; index as j">
                                                    <td>{{j + 1}}</td>
                                                    <td>{{i.permiso_nombre}}</td>
                                                    <td class="text-center">
                                                        <a (click)="desasignarPermiso(i.id)" style="cursor: pointer;"
                                                            title="Remover permiso" class="text-danger">
                                                            <i class="fas fa-times"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p class="text-center"
                                            *ngIf="!loading && rolPermisosModalRestul.permisos_asignados.length == 0">No
                                            existen permisos asignados</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="card shadow-sm mb-4 mt-2">
                                <div class="card-header py-3">
                                    <div class="row h-100">
                                        <div class="col-12">
                                            <h6 class="m-0 font-weight-bold text-azul">
                                                Permisos disponibles <div *ngIf="loading"
                                                    class="spinner-border spinner-border-sm text-success ml-1"
                                                    role="status"></div>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead class="bg-primary text-white">
                                                <tr>
                                                    <th style="width: 10%;">#</th>
                                                    <th style="width: 90%;">Nombre</th>
                                                    <th style="width: 10%;" class="text-center">Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    *ngFor="let i of rolPermisosModalRestul.permisos_disponibles; index as j">
                                                    <td>{{j + 1}}</td>
                                                    <td>{{i.permiso_nombre}}</td>
                                                    <td class="text-center">
                                                        <a (click)="asignarPermiso(i.id)" style="cursor: pointer;"
                                                            title="Agregar permiso" class="text-success">
                                                            <i class="fas fa-check"></i></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p class="text-center"
                                            *ngIf="!loading && rolPermisosModalRestul.permisos_disponibles.length == 0">
                                            No existen permisos disponibles</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>