<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/mis-proyectos']"><i class="fas fa-home"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Proyecto</li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-10 offset-md-1">
        <div *ngIf="isconexo != null && isconexo.estado == -1" class="alert alert-danger" role="alert">
            <div class="row">
                <div class="col-6">
                    <i class="fas fa-exclamation-circle fa-lg mr-2"></i> {{isconexo.mensaje}}.
                </div>
                <div class="col-6">
                    <button [routerLink]="['/mis-proyectos', proyectoId, 'relaciones']" type="button" class="btn btn-sm btn-danger float-right" style="background-color: #721c24;border-color: #721c24;">Ver</button>
                </div>
            </div>
             <!-- <a class="alert-danger" style="cursor: pointer;" >Ver</a> -->
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col-12 col-md-10 offset-md-1" *ngFor="let i of items">
        <div *ngIf="i.p != null">
            <div class="card my-2 shadow" *ngxPermissionsOnly="[i.p]">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <span><i class="{{i.icon}} mr-2"></i></span><span class="font-weight-bolder text-black-50"
                                style="font-size: 24px;">{{i.nombre}}</span>
                        </div>
                        <div class="col-6">
                            <a [routerLink]="['/mis-proyectos', proyectoId, i.route]" href="#"
                                class="btn btn-success btn-sm float-right">Ver detalles</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card my-2 shadow" *ngIf="i.p == null && i.show">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <span><i class="{{i.icon}} mr-2"></i></span><span class="font-weight-bolder text-black-50"
                            style="font-size: 24px;">{{i.nombre}}</span>
                    </div>
                    <div class="col-6">
                        <a [routerLink]="['/mis-proyectos', proyectoId, i.route]" href="#"
                            class="btn btn-success btn-sm float-right">Ver detalles</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>