<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/mis-proyectos']"><i class="fas fa-home"></i></a>
                <li class="breadcrumb-item"><a [routerLink]="['/mis-proyectos', proyectoId, 'overview']">Proyecto</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Notificaciones</li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h5 class="font-weight-bolder text-black-50">
            Notificaciones ({{notificaciones.length}})
        </h5>
    </div>
    <div class="col-12">
        <div *ngFor="let i of notificaciones" class="alert alert-primary my-2" role="alert">
            <i class="fas fa-bell mr-2"></i> {{i.mensaje}}
            <div class="text-right">
                <p class="text-muted mb-0">
                    <i class="fas fa-clock"></i> {{i.fecha_creacion}}
                </p>
            </div>
        </div>
    </div>
</div>