<div class="row mb-4" *ngIf="ready">
    <div class="col-12 text-center">
        <h3 class="font-weight-bolder text-primary">{{proyecto.nombre}}</h3>
    </div>
    <div class="col-12 text-center">
        <p class="font-weight-bolder text-black-50">{{proyecto.descripcion}}</p>
    </div>
    <div class="col-12 text-center">
        <p class="font-weight-bolder text-black-50">El proyecto se encuentra en estado {{proyecto.estadoProyecto?.nombre}}</p>
    </div>
    <div class="col-12 text-center" *ngIf="cancelado">
        <p class="font-weight-bolder text-black-50">El proyecto fue cancelado el {{proyecto.fecha_inicio}}</p>
        <p class="font-weight-bolder text-black-50">Observación: {{proyecto.observacion}}</p>
    </div>
    <div class="col-12 text-center" *ngIf="desarrollo">
        <p class="font-weight-bolder text-black-50">El proyecto fue iniciado el {{proyecto.fecha_inicio}}</p>
        <p *ngIf="proyecto.observacion != null" class="font-weight-bolder text-black-50">Observación: {{proyecto.observacion}}</p>
    </div>
    <div class="col-12 text-center" *ngIf="pendiente && isGerente">
        <a data-toggle="modal" data-target="#iniciarProyecto" title="Iniciar proyecto" class="mr-2"><i class="fas fa-play-circle fa-2x text-success"></i></a>
        <a data-toggle="modal" data-target="#cancelarProyecto" title="Cancelar proyecto"><i class="fas fa-times-circle fa-2x text-danger"></i></a>
    </div>
</div>
<div *ngIf="!cancelado && ready">
    <router-outlet></router-outlet>
</div>

<div class="modal fade" id="iniciarProyecto" tabindex="-1" aria-labelledby="iniciarProyectoLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="iniciarProyectoLabel">Iniciar Proyecto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
              <div class="col-12">
                <label for="" class="text-primary">Observación</label>              
                <div class="input-group">
                    <textarea [(ngModel)]="proyecto.observacion" class="form-control"></textarea>
                </div>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button (click)="iniciarProyecto()" type="button" class="btn btn-success">Iniciar Proyecto</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="cancelarProyecto" tabindex="-1" aria-labelledby="cancelarProyectoLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="cancelarProyectoLabel">Cancelar Proyecto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
              <div class="col-12">
                <label for="" class="text-primary">Motivo de cancelación <span>*</span></label>              
                <div class="input-group">
                    <textarea [(ngModel)]="proyecto.observacion" class="form-control"></textarea>
                </div>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button (click)="cancelarProyecto()" type="button" class="btn btn-danger">Cancelar Proyecto</button>
        </div>
      </div>
    </div>
</div>