<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/mis-proyectos']"><i class="fas fa-home"></i></a>
                <li class="breadcrumb-item"><a [routerLink]="['/mis-proyectos', proyectoId, 'overview']">Proyecto</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Relaciones y trazabilidad</li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h5 class="font-weight-bolder text-black-50">
            Relaciones y trazabilidad <a data-toggle="modal" data-target="#detalles" style="cursor: pointer;"><i class="mr-2 fas fa-info-circle text-primary"></i></a>
        </h5>
    </div>
    <div class="col-12">
        <button *ngxPermissionsOnly="'p_relaciones'"  (click)="getItemsProyecto()" data-toggle="modal" data-target="#agregarRelacion"
            class="btn btn-sm btn-success my-2 mr-2"><i class="fas fa-plus mr-2"></i>AGREGAR</button>
    </div>
    <div class="col-12">
        <div *ngIf="isconexo != null && isconexo.estado == -1" class="alert alert-danger" role="alert">
            <i class="fas fa-exclamation-circle fa-lg mr-2"></i> {{isconexo.mensaje}}
        </div>
    </div>
    <div class="col-6" style="min-height: 600px;">   
        <ngx-graph class="chart-container" [draggingEnabled]="false" [links]="aristas" [nodes]="nodos"
            [clusters]="clusters" layout="dagreCluster" [update$]="update$">
            <ng-template #defsTemplate>
                <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4"
                    orient="auto">
                    <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
                </svg:marker>
            </ng-template>

            <ng-template #clusterTemplate let-cluster>

                <svg:g class="node cluster" ngx-tooltip [tooltipPlacement]="'top'" [tooltipType]="'tooltip'"
                    [tooltipTitle]="cluster.label">
                    <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="10" [attr.font-size]="18"
                        font-weight="bold">
                        {{cluster.label}}
                    </svg:text>
                    <svg:rect rx="10" ry="10" [attr.width]="cluster.dimension.width"
                        [attr.height]="cluster.dimension.height" [attr.fill]="cluster.data.color" />
                </svg:g>
            </ng-template>

            <ng-template #nodeTemplate let-node>
                <svg:g class="node" ngx-tooltip [tooltipPlacement]="'top'" [tooltipType]="'tooltip'"
                    [tooltipTitle]="node.data.nombre_item + ' ' + node.data.lb">
                    <svg:rect rx="25" ry="25" [attr.width]="node.dimension.width"
                        [attr.height]="node.dimension.height * 1.1" [attr.fill]="node.data.estado_color" />
                    <svg:text alignment-baseline="central" [attr.x]="5" [attr.y]="node.dimension.height / 2"
                        [attr.font-size]="10" font-weight="bold">
                        {{node.label}}
                    </svg:text>
                </svg:g>
            </ng-template>

            <ng-template #linkTemplate let-link>
                <svg:g class="edge">
                    <svg:path class="line" stroke-width="2" marker-end="url(#arrow)"></svg:path>
                    <svg:text class="edge-label" text-anchor="middle">
                        <textPath class="text-path" [attr.href]="'#' + link.id"
                            [style.dominant-baseline]="link.dominantBaseline" startOffset="50%">
                            {{link.label}}
                        </textPath>
                    </svg:text>
                </svg:g>
            </ng-template>
        </ngx-graph>
    </div>
    <div class="col-4 offset-1">
        <div class="card mb-2 shadow-sm" *ngFor="let i of datosRelaciones | paginate: { itemsPerPage: 5, currentPage: p }; index as j;">
            <div class="card-body">
              <div class="row">
                  <div class="col-4">
                      <h6 class="text-primary text-center font-weight-bolder mt-2">{{i.codigo_1}}</h6>
                  </div>
                  <div class="col-4">
                        <div class="text-center">
                            <p class="text-black-50 font-weight-bolder mb-0">{{i.tipo}}</p>
                            <i class="fas fa-arrow-circle-right fa-2x text-success"></i>
                        </div>
                  </div>
                  <div class="col-4">
                    <h6 class="text-primary text-center font-weight-bolder mt-2">{{i.codigo_2}}</h6>
                  </div>
              </div>
            </div>
            <div class="card-footer" *ngxPermissionsOnly="'p_relaciones'">
                <div class="text-center">
                    <a data-toggle="modal" data-target="#modalEliminarRelacion" title="Eliminar relación" (click)="openDelete(i.id)" style="cursor: pointer;"><i class="fas fa-trash-alt text-danger fa-lg"></i></a>
                </div>
            </div>
        </div>
        <div class="text-center">
            <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel="" nextLabel="">
            </pagination-controls>
        </div>
    </div>
</div>
<div class="modal fade" id="agregarRelacion" tabindex="-1" aria-labelledby="agregarRelacionLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-black-50" id="agregarRelacionLabel">Agregar Relación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <h6 class="text-primary font-weight-bolder text-center">ÍTEM 1</h6>
                        <div class="input-group mb-3">
                            <ng-select [items]="itemsProyecto" bindValue="id" bindLabel="codigo" style="width: 100%;"
                                [(ngModel)]="addItemRelacion.item_relacion_1" [loading]="itemsLoading"
                                loadingText="Cargando..." notFoundText="Sin resultados" [placeholder]="'Elegir...'"
                                [virtualScroll]="true">
                                <ng-template ng-option-tmp let-item="item">
                                    <h6 class="text-primary mb-0"> {{item.codigo}} <span
                                            class="{{eiColor[item.estado.nombre]}}">{{ei[item.estado.nombre]}}</span>
                                    </h6>
                                    <p class="text-black-50 mb-0">Fase: {{item.tipo.fase.nombre}}</p>
                                    <p *ngIf="item.lineaBase != null" class="text-success mb-0">Línea Base:
                                        {{item.lineaBase.codigo}}</p>
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-6">
                        <h6 class="text-primary font-weight-bolder text-center">ÍTEM 2</h6>
                        <div class="input-group mb-3">
                            <ng-select [items]="itemsProyecto" bindValue="id" bindLabel="codigo" style="width: 100%;"
                                [(ngModel)]="addItemRelacion.item_relacion_2" [loading]="itemsLoading"
                                loadingText="Cargando..." notFoundText="Sin resultados" [placeholder]="'Elegir...'"
                                [virtualScroll]="true">
                                <ng-template ng-option-tmp let-item="item">
                                    <h6 class="text-primary mb-0"> {{item.codigo}} <span
                                            class="{{eiColor[item.estado.nombre]}}">{{ei[item.estado.nombre]}}</span>
                                    </h6>
                                    <p class="text-black-50 mb-0">Fase: {{item.tipo.fase.nombre}}</p>
                                    <p *ngIf="item.lineaBase != null" class="text-success mb-0">Línea Base:
                                        {{item.lineaBase.codigo}}</p>
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button (click)="post()" type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="detalles" tabindex="-1" aria-labelledby="detallesLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-black-50" id="detallesLabel">Información</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
              <div class="col-12">
                  <p *ngFor="let i of eiColorInfo" class="text-black-50"> <i class="fas fa-circle {{i.color}} mr-2"></i>{{i.nombre}}</p>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="modalEliminarRelacion" tabindex="-1" aria-labelledby="modalEliminarRelacionLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalEliminarRelacionLabel">Eliminar Relación</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="text-black-50 mb-0">¿Desea eliminar la relación?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button data-dismiss="modal" (click)="delete()" type="button" class="btn btn-primary">Eliminar relación</button>
        </div>
      </div>
    </div>
</div>