<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/mis-proyectos']"><i class="fas fa-home"></i></a>
                <li class="breadcrumb-item"><a [routerLink]="['/mis-proyectos', proyectoId, 'overview']">Proyecto</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Fases</li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h4 class="font-weight-bolder text-black-50">Fases</h4>
    </div>
    <div class="col-12">
        <button *ngxPermissionsOnly="['p_fases']" data-toggle="modal" data-target="#agregarFase" [class.dis]="!agregarFase" class="btn btn-sm btn-success my-2"><i class="fas fa-plus mr-1"></i>AGREGAR</button>
    </div>
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th class="text-center">Orden</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Estado</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of fases | paginate: { itemsPerPage: 10, currentPage: p }">
                        <td class="text-center">{{i.orden}}</td>
                        <td>{{i.nombre}}</td>
                        <td>{{i.descripcion}}</td>
                        <td>{{estadosFase[i.estado_fase]}}</td>
                        <td class="text-center">
                            <span *ngxPermissionsOnly="['p_fases_usuarios']">
                                <a [routerLink]="['/mis-proyectos', proyectoId, 'fases', i.id, 'usuarios']" style="cursor: pointer;" title="Usuarios" class="text-primary mr-2">
                                    <i class="fas fa-users fa-lg"></i>
                                </a>
                            </span>
                            <span *ngxPermissionsOnly="['p_fases_tipos_item']">
                                <a [routerLink]="['/mis-proyectos', proyectoId, 'fases', i.id, 'tipos-item']" style="cursor: pointer;" title="Tipos de items" class="text-primary mr-2">
                                    <i class="fas fa-list-ul fa-lg"></i>
                                </a>
                            </span>
                            <span *ngIf="! agregarFase && i.estado_fase == 'AB'">
                                <a [routerLink]="['/mis-proyectos', proyectoId, 'fases', i.id, 'items']" style="cursor: pointer;" title="Items" class="text-success mr-2">
                                    <i class="fas fa-clipboard-list fa-lg"></i>
                                </a>
                            </span>
                            <span *ngxPermissionsOnly="['p_fases']">
                                <span *ngIf="agregarFase">
                                    <a (click)="faseEditar=i;" data-toggle="modal" data-target="#editarFase" style="cursor: pointer;" title="Editar fase" class="text-warning mr-2">
                                        <i class="fas fa-edit fa-lg"></i></a>
                                    <a (click)="deleteFase(i.id)" style="cursor: pointer;" title="Eliminar fase" class="text-danger">
                                        <i class="fas fa-trash-alt fa-lg"></i>
                                    </a>
                                </span>
                                <span *ngIf="!agregarFase && i.estado_fase == 'CR'">
                                    <a (click)="iniciarFase(i)" style="cursor: pointer;" title="Iniciar Fase" class="text-success">
                                        <i class="fas fa-play-circle fa-lg"></i>
                                    </a>
                                </span>
                                <span *ngIf="!agregarFase && i.estado_fase == 'AB'">
                                    <a data-toggle="modal" data-target="#modalCerrarFase" (click)="openCerrarFase(i)" style="cursor: pointer;" title="Cerrar Fase" class="text-danger">
                                        <i class="fas fa-times-circle fa-lg"></i>
                                    </a>
                                </span>
                            </span>
                            <!-- <a (click)="deleteUserProyecto(i.id)" style="cursor: pointer;" title="Eliminar usuario de proyecto" class="text-danger ml-2">
                                <i class="fas fa-trash-alt"></i>
                            </a> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel="" nextLabel="">
            </pagination-controls>
        </div>
    </div>
</div>

<div class="modal fade" id="agregarFase" tabindex="-1" role="dialog" aria-labelledby="addRolModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addRolModalLabel">Agregar fase</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <label for="">Nombre</label>
                        <div class="input-group mb-3">
                            <input [(ngModel)]="faseAgregar.nombre" type="text" class="form-control" placeholder="Nombre"
                                aria-label="nombres" aria-describedby="nombres">
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="">Descripción</label>
                        <div class="input-group mb-3">
                            <input [(ngModel)]="faseAgregar.descripcion" type="text" class="form-control"
                                placeholder="Descripcion" aria-label="descripcion" aria-describedby="descripcion">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button (click)="postFase()" type="button" class="btn btn-success">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editarFase" tabindex="-1" role="dialog" aria-labelledby="addRolModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addRolModalLabel">Editar fase</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <label for="">Nombre</label>
                        <div class="input-group mb-3">
                            <input [(ngModel)]="faseEditar.nombre" type="text" class="form-control" placeholder="Nombre"
                                aria-label="nombres" aria-describedby="nombres">
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="">Descripción</label>
                        <div class="input-group mb-3">
                            <input [(ngModel)]="faseEditar.descripcion" type="text" class="form-control"
                                placeholder="Descripcion" aria-label="descripcion" aria-describedby="descripcion">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button (click)="putFase()" type="button" class="btn btn-success">
                    Actualizar
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalCerrarFase" tabindex="-1" aria-labelledby="modalCerrarFaseLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalCerrarFaseLabel">Cerrar Fase</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="text-black-50 mb-0">¿Desea cerrar la fase?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button data-dismiss="modal" (click)="cerrarFase()" type="button" class="btn btn-primary">Cerrar Fase</button>
        </div>
      </div>
    </div>
</div>