<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/mis-proyectos']"><i class="fas fa-home"></i></a>
                <li class="breadcrumb-item"><a [routerLink]="['/mis-proyectos', proyectoId, 'overview']">Proyecto</a>
                </li>
                <li class="breadcrumb-item"><a [routerLink]="['/mis-proyectos', proyectoId, 'fases']">Fases</a>
                </li>
                <li class="breadcrumb-item"><a [routerLink]="['/mis-proyectos', proyectoId, 'fases', faseId, 'items']">Items</a>
                <li class="breadcrumb-item active" aria-current="page">Gestionar Item</li>
            </ol>
        </nav>
    </div>
</div>
<div class="row m-2">
    <div class="col-12">
        <div class="alert {{eia[item.estado?.nombre]}}" role="alert">
            <p class="mb-0">Estado actual del item: <span class="font-weight-bolder">{{ei[item.estado?.nombre]}}</span></p>
        </div>
    </div>
    <div class="col-12">
        <div class="card my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-8">
                        <label for="">Nombre del Item <span>*</span></label>
                        <div class="input-group flex-nowrap mb-3">
                            <input [(ngModel)]="item.nombre" name="nombre" type="text" class="form-control" placeholder="Nombre Item">
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <label for="">Prioridad <span>*</span></label>
                        <div class="input-group mb-3">
                            <select [(ngModel)]="item.prioridad" name="prioridad" class="custom-select" id="prioridad">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="">Descripción <span>*</span></label>
                        <div class="input-group mb-3">
                            <textarea [(ngModel)]="item.descripcion" name="descripcion" placeholder="Descripción" class="form-control"
                                aria-label="With textarea"></textarea>
                        </div>
                    </div>
                    <div class="col-12">
                        <h6 class="font-weight-bolder text-black-50">Atributos del tipo de item</h6>
                    </div>
                    <div *ngFor="let i of atributos; index as j;" class="col-12">
                        <label for="">{{i.nombre}}</label>
                        <div *ngIf="i.type == 'T' " class="input-group mb-3">
                            <textarea [(ngModel)]="values[j]" id="{{'field-' + j }}" class="form-control" placeholder="{{i.nombre}}"></textarea>
                        </div>
                        <div *ngIf="i.type == 'N' " class="input-group mb-3">
                            <input [(ngModel)]="values[j]" id="{{'field-' + j }}" type="number" class="form-control" placeholder="{{i.nombre}}">
                        </div>
                        <div *ngIf="i.type == 'A'" class="input-group mb-3">
                            <div *ngIf="values[j] != null && item.estado.nombre == 'DE'" class="input-group-prepend">
                                <span class="input-group-text"><a style="cursor: pointer;" (click)="values[j] = null"><i class="fas fa-trash-alt text-danger"></i></a></span>
                            </div>
                            <input *ngIf="values[j] != null" type="text" class="form-control" disabled [(ngModel)]="values[j].filename">
                            <input *ngIf="values[j] == null" (change)="handleFiles($event.target.files, j)" id="{{'field-' + j }}" type="file" id="input-{{j}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mb-3" *ngIf="item.estado?.nombre == 'DE'">
        <button *ngxPermissionsOnly="['i_desarrollar']" (click)="guardarItem(false)" class="btn btn-success btn-sm float-right mt-3">Guardar cambios</button>
        <button *ngxPermissionsOnly="['i_s_aprobacion']" (click)="solicitarAprobacionItem()" class="btn btn-primary btn-sm float-right mt-3 mr-2">Solicitar aprobación</button>
        <button *ngxPermissionsOnly="['i_cancelar']" (click)="cancelarItem()" class="btn btn-danger btn-sm float-right mt-3 mr-2">Cancelar item</button>
    </div>
    <div class="col-12 mb-3" *ngIf="item.estado?.nombre == 'PP'">
        <button *ngxPermissionsOnly="['i_aprobar']" (click)="aprobarItem()" class="btn btn-success btn-sm float-right mt-3">Aprobar</button>
        <button *ngxPermissionsOnly="['i_aprobar']" (click)="desaprobarItem()" class="btn btn-danger btn-sm float-right mt-3 mr-2">Desaprobar</button>
    </div>
    <div class="col-12 mb-3" *ngIf="item.estado?.nombre == 'AP' && item.lineaBase == null">
        <button *ngxPermissionsOnly="['i_aprobar']" (click)="desarrollarItem()" class="btn btn-warning btn-sm float-right mt-3">Mover a desarrollo</button>
    </div>
</div>