<div class="row">
    <div class="col-12">
        <div class="card shadow-sm mb-4 mt-2">
            <div class="card-header py-3">
                <div class="row h-100">
                    <div class="col-6 my-auto">
                        <h5 class="m-0 font-weight-bold text-azul">
                            Roles de sistema <div *ngIf="loading" class="spinner-border spinner-border-sm text-success ml-1"
                                role="status"></div>
                        </h5>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-primary float-right" data-toggle="modal"
                            data-target="#addRolModal">Agregar <i class="fas fa-plus ml-2"></i></button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="width: 80%;">Nombre</th>
                                <th style="width: 20%;" class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of roles | paginate: { itemsPerPage: 10, currentPage: p }">
                                <td>{{i.nombre}}</td>
                                <td class="text-center">
                                    <a [routerLink]="['/administracion/roles-sistema', i.id, 'gestionar']"
                                    style="cursor: pointer;" title="Gestionar permisos" class="text-primary">
                                        <i class="fas fa-list-ul"></i></a>
                                    <a (click)="eliminarRol(i.id)" style="cursor: pointer;" title="Eliminar Rol" class="text-danger ml-2">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel="" nextLabel="">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addRolModal" tabindex="-1" role="dialog" aria-labelledby="addRolModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addRolModalLabel">Agregar rol</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-cogs"></i></span>
                            </div>
                            <input [(ngModel)]="rol" type="text" class="form-control" placeholder="Nombre"
                                aria-label="nombres" aria-describedby="nombres">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button (click)="postRol()" type="button" class="btn btn-primary">
                    <span *ngIf="loadingSave" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span>
                    <span [class.sr-only]="loadingSave">Guardar</span>
                </button>
            </div>
        </div>
    </div>
</div>
