<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/mis-proyectos']"><i class="fas fa-home"></i></a>
                <li class="breadcrumb-item"><a [routerLink]="['/mis-proyectos', proyectoId, 'overview']">Proyecto</a>
                </li>
                <li class="breadcrumb-item"><a [routerLink]="['/mis-proyectos', proyectoId, 'fases']">Fases</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h4 class="text-black-50"><span class="font-weight-bolder text-primary">{{fase.nombre}}</span></h4>
        <h5 class="text-black-50">Descripción: <span class="font-weight-bolder text-primary">{{fase.descripcion}}</span></h5>
        <h5 class="text-black-50">Orden: <span class="font-weight-bolder text-primary">{{fase.orden}}</span></h5>
        <hr class="bg-primary" style="border-width: 3px;">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h5 class="text-black-50 font-weight-bolder my-2">Roles Disponibles</h5>
    </div>
    <div class="col-12">
        <button type="button"
            class="btn btn-success btn-sm my-2" data-toggle="modal"
            data-target="#addRolFase">AGREGAR <i class="fas fa-plus ml-2"></i></button>
    </div>
    <div class="col-12">
        <table class="table table-striped table-bordered mt-2 mb-4">
            <thead class="bg-primary text-white">
                <tr>
                    <th style="width: 80%;">Nombre</th>
                    <th class="text-center" style="width: 20%;">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of roles">
                    <td>{{i.nombre}}</td>
                    <td class="text-center">
                        <a (click)="obtenerPermisos(i)" data-toggle="modal" data-target="#modalPermisos" title="Asignar permisos" 
                        class="mr-2" style="cursor: pointer;">
                            <i class="fas fa-list text-primary fa-lg"></i>
                        </a>
                        <a (click)="eliminarRol(i.id)" title="Eliminar rol" style="cursor: pointer;">
                            <i class="fas fa-trash-alt text-danger fa-lg"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h5 class="text-black-50 font-weight-bolder my-2">Usuarios Disponibles</h5>
    </div>
    <div class="col-12">
        <table class="table table-striped table-bordered mt-2 mb-4" id="dataTable" width="100%" cellspacing="0">
            <thead class="bg-primary text-white">
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Correo Electronico</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of users | paginate: { itemsPerPage: 10, currentPage: p }">
                    <td>{{i.first_name}}</td>
                    <td>{{i.last_name}}</td>
                    <td>{{i.email}}</td>
                    <td class="text-center">
                        <a data-toggle="modal" data-target="#rolFaseModal" (click)="getUserRoles(i)" style="cursor: pointer;" title="Ver roles" class="text-primary">
                            <i class="fas fa-user-cog"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel="" nextLabel="">
            </pagination-controls>
        </div>
    </div>
</div>

<div class="modal fade" id="addRolFase" tabindex="-1" role="dialog" aria-labelledby="addRolFaseModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addRolFaseModalLabel">Agregar rol</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-cogs"></i></span>
                            </div>
                            <input [(ngModel)]="rol.nombre" type="text" class="form-control" placeholder="Nombre"
                                aria-label="nombres" aria-describedby="nombres">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button (click)="postRol()" type="button" class="btn btn-primary">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalPermisos" tabindex="-1" role="dialog" aria-labelledby="modalPermisosLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl  modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalPermisosLabel">Permisos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <h4 class="text-primary">{{fase.nombre}}</h4>
                        </div>
                        <div class="col-12">
                            <h5 class="text-black-50">Rol: {{rolPermisos.rol.nombre}}</h5>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="card shadow-sm mb-4 mt-2">
                                <div class="card-header py-3">
                                    <div class="row h-100">
                                        <div class="col-12">
                                            <h6 class="m-0 font-weight-bold text-azul">
                                                Permisos asignados <div *ngIf="rolPermisosLoading"
                                                    class="spinner-border spinner-border-sm text-success ml-1"
                                                    role="status"></div>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead class="bg-primary text-white">
                                                <tr>
                                                    <th style="width: 10%;">#</th>
                                                    <th style="width: 90%;">Nombre</th>
                                                    <th style="width: 10%;" class="text-center">Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    *ngFor="let i of rolPermisos.permisos_asignados; index as j">
                                                    <td>{{j + 1}}</td>
                                                    <td>{{i.permiso_nombre}}</td>
                                                    <td class="text-center">
                                                        <a (click)="desasignarPermiso(i.id)" style="cursor: pointer;"
                                                            title="Remover permiso" class="text-danger">
                                                            <i class="fas fa-times"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p class="text-center"
                                            *ngIf="!rolPermisosLoading && rolPermisos.permisos_asignados.length == 0">No
                                            existen permisos asignados</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="card shadow-sm mb-4 mt-2">
                                <div class="card-header py-3">
                                    <div class="row h-100">
                                        <div class="col-12">
                                            <h6 class="m-0 font-weight-bold text-azul">
                                                Permisos disponibles <div *ngIf="rolPermisosLoading"
                                                    class="spinner-border spinner-border-sm text-success ml-1"
                                                    role="status"></div>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead class="bg-primary text-white">
                                                <tr>
                                                    <th style="width: 10%;">#</th>
                                                    <th style="width: 90%;">Nombre</th>
                                                    <th style="width: 10%;" class="text-center">Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    *ngFor="let i of rolPermisos.permisos_disponibles; index as j">
                                                    <td>{{j + 1}}</td>
                                                    <td>{{i.permiso_nombre}}</td>
                                                    <td class="text-center">
                                                        <a (click)="asignarPermiso(i.id)" style="cursor: pointer;"
                                                            title="Agregar permiso" class="text-success">
                                                            <i class="fas fa-check"></i></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p class="text-center"
                                            *ngIf="!rolPermisosLoading && rolPermisos.permisos_disponibles.length == 0">
                                            No existen permisos disponibles</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="rolFaseModal" tabindex="-1" role="dialog" aria-labelledby="rolFaseModalLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rolFaseModalLabel">Rol asignado en la fase</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <label for="">Rol</label>
                        <div class="input-group mb-3">
                            <select [(ngModel)]="rolActual" name="rolActual" class="custom-select">
                              <option *ngFor="let i of roles" [value]="i.id">{{i.nombre}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="guardarRolUser()" type="button" class="btn btn-primary" data-dismiss="modal">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- <div class="row">
    <div class="col-12">
        <h5 class="text-black-50 font-weight-bolder my-2">Usuarios asignados</h5>
        <table class="table table-striped table-bordered mt-2 mb-4">
            <thead class="bg-primary text-white">
                <tr>
                    <th style="width: 80%;">Nombre</th>
                    <th class="text-center" style="width: 20%;">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of tiposAsignados">
                    <td>{{i.tipoitem.nombre}}</td>
                    <td class="text-center">
                        <a (click)="deleteTiposItemFase(i.id)" title="Asignar tipo de item" style="cursor: pointer;">
                            <i class="fas fa-times text-danger fa-lg"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->