<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/mis-proyectos']"><i class="fas fa-home"></i></a>
                <li class="breadcrumb-item"><a [routerLink]="['/mis-proyectos', proyectoId, 'overview']">Proyecto</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Atributos</li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <h5 class="font-weight-bolder text-black-50">
                    Atributos
                </h5>
            </div>
            <div class="col-12">
                <button type="button" class="btn btn-success btn-sm my-2" data-toggle="modal"
                    data-target="#agregarAtributo">AGREGAR <i class="fas fa-plus ml-2"></i></button>
            </div>
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead class="bg-primary text-white">
                            <tr>
                                <th style="width: 40%;">Nombre</th>
                                <th style="width: 40%;">Tipo</th>
                                <th style="width: 20%;" class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of atributos | paginate: { itemsPerPage: 10, currentPage: p }">
                                <td>{{i.nombre}}</td>
                                <td>{{i.type}}</td>
                                <td class="text-center">
                                    <a (click)="delete(i.id)" style="cursor: pointer;" title="Ver atributos" class="text-danger">
                                        <i class="fas fa-trash-alt fa-lg"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel="" nextLabel="">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="agregarAtributo" tabindex="-1" role="dialog" aria-labelledby="agregarAtributoLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agregarAtributoLabel">Agregar Atributo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="input-group">
                            <input [(ngModel)]="atributo.nombre" type="text" class="form-control" placeholder="Nombre"
                                aria-label="nombres" aria-describedby="nombres">
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="tipo">Tipo</label>
                            </div>
                            <select [(ngModel)]="atributo.type" class="custom-select" id="tipo">
                                <option value="T">TEXTO</option>
                                <option value="N">NUMÉRICO</option>
                                <option value="A">ARCHIVO</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button (click)="post()" type="button" class="btn btn-primary">
                    <span *ngIf="loadingSave" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span>
                    <span [class.sr-only]="loadingSave">Guardar</span>
                </button>
            </div>
        </div>
    </div>
</div>
