<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/mis-proyectos']"><i class="fas fa-home"></i></a>
                <li class="breadcrumb-item"><a [routerLink]="['/mis-proyectos', proyectoId, 'overview']">Proyecto</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Ítems en revisión</li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h4 class="font-weight-bolder text-black-50">Ítems en revisión ({{items.length}})</h4>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-10 offset-1">
                <div class="card mb-2 shadow-sm" *ngFor="let i of items; index as j;">
                    <div class="card-body">
                        <h5 class="text-primary font-weight-bolder">{{i.nombre}}</h5>
                        <h6 class="text-success">{{i.codigo}}</h6>
                        <p class="text-black-50 mb-0">Descripción: {{i.descripcion}}</p>
                        <p class="text-black-50 mb-0">Fase: <span class="text-primary">{{i.tipo.fase.nombre}}</span></p>
                        <p *ngIf="i.lineaBase != null" class="text-black-50 mb-0">Línea base: <span class="text-primary">{{i.lineaBase.codigo}}</span></p>
                        <p class="text-black-50 mb-0">Estado actual: <span class="{{eiColor[i.estado.nombre]}}">{{ei[i.estado.nombre]}}</span></p>
                        <p class="text-black-50 mb-0">Estado anterior: <span class="{{eiColor[i.estado_ant.nombre]}}">{{ei[i.estado_ant.nombre]}}</span></p>
                    </div>
                    <div class="card-footer">
                        <div class="text-right">
                            <button (click)="moverEstadoAnterior(i)" type="button" class="btn btn-success btn-sm mr-2">Volver a estado anterior</button>
                            <button (click)="moverEstadoDesarrollo(i)" *ngIf="i.lineaBase == null && i.estado_ant.nombre != 'DE'" type="button" class="btn btn-warning btn-sm mr-2">Mover a desarrollo</button>
                            <button (click)="openModalRuptura(i)" data-toggle="modal" data-target="#rupturaLBItem" *ngIf="i.lineaBase != null && i.lineaBase.estado.nombre != 'RE'" type="button" class="btn btn-danger btn-sm">Solicitar modificación</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="rupturaLBItem" tabindex="-1" role="dialog" aria-labelledby="rupturaLBItemLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rupturaLBItemLabel">Solicitud de Ruptura</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-10 offset-1">
                        <label for="">Motivo de solicitud <span>*</span></label>
                        <div class="input-group mb-3">
                            <textarea [(ngModel)]="ruptura.mensaje" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button (click)="postRuptura()" type="button" class="btn btn-primary">
                    Enviar Solicitud
                </button>
            </div>
        </div>
    </div>
</div>