<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/mis-proyectos']"><i class="fas fa-home"></i></a>
                <li class="breadcrumb-item"><a [routerLink]="['/mis-proyectos', proyectoId, 'overview']">Proyecto</a>
                </li>
                <li class="breadcrumb-item"><a [routerLink]="['/mis-proyectos', proyectoId, 'fases']">Fases</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Items</li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h4 class="text-primary">{{fase.nombre}}</h4>
        <h5 class="text-black-50">Descripción: {{fase.descripcion}}</h5>
        <hr class="bg-primary" style="border-width: 3px;">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h5 class="font-weight-bolder text-black-50">Items</h5>
    </div>
    <div class="col-12">
        <button *ngxPermissionsOnly="['i_desarrollar']" [routerLink]="['/mis-proyectos', proyectoId, 'fases', faseId ,'items', 'agregar']" class="btn btn-success btn-sm mr-2 my-2">AGREGAR ÍTEM <i class="fas fa-plus ml-1"></i></button>
        <button *ngxPermissionsOnly="['i_linea_base']"  [routerLink]="['/mis-proyectos', proyectoId, 'fases', faseId ,'items', 'lineas-base']" class="btn btn-secondary btn-sm mr-2 my-2">LINEAS BASE</button>
    </div>
    <div class="col-12">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th class="text-center" style="width: 10%;">Código</th>
                    <th style="width: 20%;">Nombre</th>
                    <th class="text-center" style="width: 20%;">Version</th>
                    <th class="text-center" style="width: 20%;">Estado</th>
                    <th class="text-center" style="width: 20%;">Línea Base</th>
                    <th style="width: 10%;" class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of items | paginate: { itemsPerPage: 10, currentPage: p }">
                    <td class="text-center text-primary font-weight-bolder">{{i.codigo}}</td>
                    <td>{{i.nombre}}</td>
                    <td class="text-center">{{'v' + i.version}}</td>
                    <td class="text-center"><span class="{{eiColor[i.estado.nombre]}}">{{ei[i.estado.nombre]}}</span></td>
                    <td class="text-center text-success font-weight-bolder">{{i.lineaBase != null? i.lineaBase.codigo: 'NR'}}</td>
                    <td class="text-center">
                        <a *ngxPermissionsOnly="['i_desarrollar', 'i_aprobar', 'i_s_aprobar', 'i_cancelar']" [routerLink]="['/mis-proyectos', proyectoId, 'fases', faseId ,'items', 'gestionar', i.id]" class="mr-2" style="cursor: pointer;" title="Gestionar">
                            <i class="fas fa-pencil-alt fa-lg text-success"></i></a>
                        <a *ngxPermissionsOnly="['i_historial']" [routerLink]="['/mis-proyectos', proyectoId, 'fases', faseId ,'items', 'historial', i.id]" href="#" title="Historial de versiones" class="mr-2"><i class="fas fa-history fa-lg text-primary"></i></a>
                        <a (click)="openModalImpacto(i)" data-toggle="modal" data-target="#modalImpacto" *ngxPermissionsOnly="['i_impacto']" title="Impacto de modificación"><i class="fas fa-calculator fa-lg text-warning"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel="" nextLabel="">
            </pagination-controls>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalImpacto" tabindex="-1" aria-labelledby="modalImpactoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-black-50" id="modalImpactoLabel"><span class="text-success font-weight-bolder">{{impactoTarget?.codigo}}</span></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
              <div class="col-12">
                  <h6 class="text-black-50">RELACIONES ACTUALES ({{impactoDatos?.items_afectados?.length}})</h6>
                  <div class="card shadow-sm mb-1">
                    <div class="card-body">
                      <h5 class="text-primary text-center">Impacto de modificación = {{impactoDatos?.impacto}}</h5>
                    </div>
                </div>
                  <div *ngFor="let i of impactoDatos?.items_afectados" class="card shadow-sm mb-1">
                      <div class="card-body">
                          <h5 class="text-primary font-weight-bolder">{{i.codigo}} <span class="{{eiColor[i.estado.nombre]}}">{{ei[i.estado.nombre]}}</span></h5>
                          <p class="text-black-50 mb-0">Prioridad: <span class="text-primary">{{i.prioridad}}</span></p>
                          <p class="text-black-50 mb-0">Fase: <span class="text-primary">{{i.tipo.fase.nombre}}</span></p>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
</div>

