<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/mis-proyectos']"><i class="fas fa-home"></i></a>
                <li class="breadcrumb-item"><a [routerLink]="['/mis-proyectos', proyectoId, 'overview']">Proyecto</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Solicitudes</li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <h5 class="font-weight-bolder text-black-50">
                    Solicitudes ({{solicitudes.length}})
                </h5>
                <div class="alert alert-primary font-weight-bold" role="alert">
                    <i class="fas fa-info-circle mr-2"></i> Usted forma parte del comite
                </div>
            </div>
            <div class="col-12" *ngFor="let i of solicitudes">
                <div class="card my-3 shadow">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <h5 class="card-title">{{i.solicitud.nombre}} <span
                                        class="badge {{estados_badge[i.solicitud.estado]}}">{{estados[i.solicitud.estado]}}</span>
                                </h5>
                                <p class="card-text">{{i.solicitud.mensaje}}</p>
                                <button *ngIf="puede_votar && i.votos_cantidad != i.total" (click)="openDetalles(i)"
                                    data-toggle="modal" data-target="#votacionModal" type="button"
                                    class="btn btn-primary btn-sm mr-2"><i class="fas fa-edit mr-2"></i>Votar</button>
                                <button (click)="openDetalles(i)" data-toggle="modal" data-target="#solicitudDetalles"
                                    type="button" class="btn btn-outline-success btn-sm"><i
                                        class="fas fa-info-circle mr-2"></i>Detalles</button>
                                <p class="text-muted mt-2">Estado de la votación ({{i.votos_cantidad}}/{{i.total}})</p>
                                <div class="progress">
                                    <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                                        [style.width]="(i.votos_cantidad/i.total)*100 + '%'"
                                        attr.aria-valuenow="{{(i.votos_cantidad/i.total)*100}}" aria-valuemin="0"
                                        aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-primary text-white">
                        <div class="text-right">
                            {{i.solicitud.fecha_creacion}} <br>
                            Creado por: {{i.solicitud.usuario_creacion.email}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="solicitudDetalles" tabindex="-1" aria-labelledby="solicitudDetallesLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-black-50" id="solicitudDetallesLabel">Detalles -
                    {{solicitudDetalles?.solicitud?.nombre}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <h4 class="text-primary font-weight-bolder">Fase:
                            {{solicitudDetalles?.solicitud?.lineaBase?.fase?.nombre}}</h4>
                        <h5 class="text-black-50">Línea Base: {{solicitudDetalles?.solicitud?.lineaBase?.codigo}}
                            {{solicitudDetalles?.solicitud?.lineaBase?.nombre}}</h5>
                        <h5 class="text-black-50">Ítem: {{solicitudDetalles?.solicitud?.item?.nombre}} (<span
                                class="text-success">{{solicitudDetalles?.solicitud?.item?.codigo}}</span>)</h5>
                    </div>
                    <div class="col-12">
                        <div class="alert alert-warning" role="alert">
                            <i class="fas fa-exclamation-circle mr-2"></i>Impacto de modificación = {{solicitudDetalles?.solicitud?.impacto}}
                        </div>
                    </div>
                    <div class="col-12" *ngFor="let i of votos_hechos">
                        <div *ngIf="i.voto" class="alert alert-success" role="alert">
                            <i class="fas fa-user-circle mr-2"></i> {{i.mensaje}}
                        </div>
                        <div *ngIf="!i.voto" class="alert alert-danger" role="alert">
                            <i class="fas fa-user-circle mr-2"></i> {{i.mensaje}}
                        </div>
                    </div>
                    <div class="col-12">
                        <h4 class="text-primary font-weight-bolder">Items afectados ({{solicitudDetalles?.items_afectados?.length}})</h4>
                        <div class="card mb-1 mx-2" *ngFor="let i of solicitudDetalles?.items_afectados">
                            <div class="card-body">
                                <h5 class="text-success font-weight-bolder">{{i.codigo}}</h5>
                                <p class="text-black-50 mb-0">Nombre: <span class="text-primary">{{i.nombre}}</span></p>
                                <p class="text-black-50 mb-0">Prioridad: <span class="text-primary">{{i.prioridad}}</span></p>
                                <p class="text-black-50 mb-0">Fase: <span class="text-primary">{{i.tipo.fase.nombre}}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="votacionModal" tabindex="-1" aria-labelledby="votacionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-black-50" id="votacionModalLabel">Votación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <h5 class="text-primary font-weight-bolder">{{solicitudDetalles?.solicitud?.nombre}}</h5>
                        <h5 class="text-black-50">¿Aprobar solictud?</h5>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="votar(true)" class="btn btn-success"><i class="fas fa-check mr-2"></i>SI</button>
                <button (click)="votar(false)" class="btn btn-danger"><i class="fas fa-times mr-2"></i>NO</button>
            </div>
        </div>
    </div>
</div>