<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/mis-proyectos']"><i class="fas fa-home"></i></a>
                <li class="breadcrumb-item"><a [routerLink]="['/mis-proyectos', proyectoId, 'overview']">Proyecto</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Comite</li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <h5 class="font-weight-bolder text-black-50">
                    Comite
                </h5>
            </div>
            <div class="col-12">
                <button (click)="getUsers()" [class.dis]="users.length == proyecto?.cantidad_comite" type="button"
                    class="btn btn-success btn-sm my-2" data-toggle="modal" data-target="#listUsers">AGREGAR <i
                        class="fas fa-user-plus ml-2"></i></button>
            </div>
            <div class="col-12">
                <div class="alert alert-primary" role="alert">
                    <i class="fas fa-info-circle mr-2"></i>Cantidad de miembros establecida: {{proyecto?.cantidad_comite}}
                </div>
            </div>
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead class="bg-primary text-white">
                            <tr>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Correo Electronico</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of users | paginate: { itemsPerPage: 10, currentPage: p }">
                                <td>{{i.miembro.first_name}}</td>
                                <td>{{i.miembro.last_name}}</td>
                                <td>{{i.miembro.email}}</td>
                                <td class="text-center">
                                    <a (click)="deleteMiembro(i)" style="cursor: pointer;"
                                        title="Eliminar usuario de comite" class="text-danger ml-2">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel="" nextLabel="">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="listUsers" tabindex="-1" role="dialog" aria-labelledby="listUsersLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg  modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="listUsersLabel">Agregar usuario al comite</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead class="bg-primary text-white">
                                    <tr>
                                        <th>Nombres</th>
                                        <th>Apellidos</th>
                                        <th>Correo Electronico</th>
                                        <th class="text-center">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let i of asignables | paginate: { itemsPerPage: 10, currentPage: p }">
                                        <td>{{i.first_name}}</td>
                                        <td>{{i.last_name}}</td>
                                        <td>{{i.email}}</td>
                                        <td class="text-center">
                                            <a (click)="postMiembro(i.id)" style="cursor: pointer;" title="Agregar al comite"
                                                class="text-success ml-2">
                                                <i class="fas fa-user-check"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>