<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/mis-proyectos']"><i class="fas fa-home"></i></a>
                <li class="breadcrumb-item"><a [routerLink]="['/mis-proyectos', proyectoId, 'overview']">Proyecto</a>
                </li>
                <li class="breadcrumb-item"><a [routerLink]="['/mis-proyectos', proyectoId, 'fases']">Fases</a>
                </li>
                <li class="breadcrumb-item"><a [routerLink]="['/mis-proyectos', proyectoId, 'fases', faseId, 'items']">Items</a>
                <li class="breadcrumb-item active" aria-current="page">Historial Item</li>
            </ol>
        </nav>
    </div>
</div>
<div class="row mb-3">
    <div class="col-12 col-lg-8 offset-lg-2">
        <div *ngFor="let i of items" class="card border-left-primary shadow py-2 my-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Version:
                            {{'v' + i.version}}
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{i.nombre}}</div>
                        <span *ngIf="i.current" class="badge badge-success">Version actual</span>
                        <button (click)="postHistorial(i)" *ngIf="!i.current && restaurar" class="btn btn-sm btn-primary ml-2 float-right">Restaurar</button>
                        <button (click)="mapModalDetalles(i);" data-toggle="modal" data-target="#detallesModal"
                            class="btn btn-sm btn-success float-right">Ver detalles</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detallesModal" tabindex="-1" role="dialog" aria-labelledby="detallesModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detallesModalLabel">{{modalDetalles.nombre}} -
                    {{ 'v' + modalDetalles.version}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col-12">
                            <p><span class="font-weight-bold">Descripción:</span> {{modalDetalles.descripcion}}</p>
                            <p><span class="font-weight-bold">Prioridad:</span> {{modalDetalles.prioridad}}</p>
                            <!-- <p><span class="font-weight-bold">Tipo:</span> {{modalDetalles.tipo}}</p> -->
                            <h6 class="font-weight-bold">Campos Personalizados</h6>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 15%;" class="text-center" scope="col">#</th>
                                        <th style="width: 85%;" scope="col">Values</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let i of modalDetalles.values; index as j;">
                                        <th class="text-center" scope="row">{{j+1}}</th>
                                        <td *ngIf="i.type == 'T'" [innerHTML]="i.value"></td>
                                        <td *ngIf="i.type == 'N'" >{{i.value}}</td>
                                        <td *ngIf="i.type == 'A'" >
                                            <a href="{{i.value.file}}"  download="{{i.value.filename}}">Ver archivo</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
