<div class="row">
    <div class="col-12">
        <div class="card shadow-sm mb-4 mt-2">
            <div class="card-header py-3">
                <div class="row h-100">
                    <div class="col-6 my-auto">
                        <h5 class="m-0 font-weight-bold text-azul">
                            Usuarios <div *ngIf="loading" class="spinner-border spinner-border-sm text-success ml-1"
                                role="status"></div>
                        </h5>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-primary float-right" data-toggle="modal"
                            data-target="#addUserModal">Agregar <i class="fas fa-user-plus ml-2"></i></button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Correo Electronico</th>
                                <th class="text-center">Fecha de registro</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of users | paginate: { itemsPerPage: 10, currentPage: p }">
                                <td>{{i.first_name}}</td>
                                <td>{{i.last_name}}</td>
                                <td>{{i.email}}</td>
                                <td class="text-center">{{i.date_joined.substring(0,10)}}</td>
                                <td class="text-center">
                                    <a data-toggle="modal" data-target="#rolesModal"  (click)="getUserRoles(i)" title="Ver roles" class="text-primary">
                                        <i class="fas fa-user-cog"></i></a>
                                    <span *ngIf="i.is_active">
                                        <a (click)="updateUser(i)" title="Desactivar usuario" class="text-primary ml-2">
                                            <i class="fas fa-user-times"></i>
                                        </a>
                                    </span>
                                    <span *ngIf="!i.is_active">
                                        <a (click)="updateUser(i)" title="Activar usuario" class="text-primary ml-2" >
                                            <i class="fas fa-user-check"></i>
                                        </a>
                                    </span>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel="" nextLabel="">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addUserModalLabel">Agregar usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-6 mb-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user-circle"></i></span>
                            </div>
                            <input [(ngModel)]="user.first_name" type="text" class="form-control" placeholder="Nombres"
                                aria-label="nombres" aria-describedby="nombres">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user-circle"></i></span>
                            </div>
                            <input [(ngModel)]="user.last_name" type="text" class="form-control" placeholder="Apellidos"
                                aria-label="apellidos" aria-describedby="apellidos">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-at"></i></span>
                            </div>
                            <input [(ngModel)]="user.email" type="text" class="form-control"
                                placeholder="Correo electrónico" aria-label="email" aria-describedby="email">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-lock"></i></span>
                            </div>
                            <input [(ngModel)]="user.password" type="password" class="form-control"
                                placeholder="Contraseña" aria-label="pass" aria-describedby="pass">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-lock"></i></span>
                            </div>
                            <input [(ngModel)]="repeatPass" type="password" class="form-control"
                                placeholder="Repetir contraseña" aria-label="repeat-pass"
                                aria-describedby="repeat-pass">
                        </div>
                        <a class="text-primary" style="cursor: pointer;" (click)="clear()"><small>Limpiar
                                campos</small></a>
                    </div>
                    <div class="col-12 col-md-6 mb-2">
                        <select [(ngModel)]="rolesAsignados" name="roles" class="w-100" id="rolSelect" multiple
                            title="Roles de sistema">
                            <option *ngFor="let i of roles" [value]="i">{{i.nombre}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button (click)="postUser()" type="button" class="btn btn-primary">
                    <span *ngIf="loadingSave" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span>
                    <span [class.sr-only]="loadingSave">Guardar</span>
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="rolesModal" tabindex="-1" role="dialog" aria-labelledby="rolesModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rolesModalLabel">Usuario: {{userRolModal?.first_name}} {{userRolModal?.last_name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <h6><b>Roles asignados</b></h6>
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                              <tr>
                                <th class="text-center" style="width: 15%;" scope="col">#</th>
                                <th style="width: 70%;" scope="col">Nombre</th>
                                <th class="text-center" style="width: 15%;" scope="col">Acciones</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let i of userRoles; index as j;">
                                <td class="text-center">{{j + 1}}</td>
                                <td>{{i.nombre}}</td>
                                <td (click)="desasignarRol(userRolModal.id, i.id)" class="text-center"><a title="Remover rol" style="cursor: pointer;"><i class="fas fa-times text-danger"></i></a></td>
                              </tr>
                            </tbody>
                          </table>
                          <p class="text-center" *ngIf="!loadingUserRoles && userRoles?.length==0">No existen roles asignados</p>
                    </div>
                    <div class="col-6">
                        <h6><b>Roles disponibles</b></h6>
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                              <tr>
                                <th class="text-center" style="width: 15%;" scope="col">#</th>
                                <th style="width: 70%;" scope="col">Nombre</th>
                                <th class="text-center" style="width: 15%;" scope="col">Acciones</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let i of userRolesDisponibles; index as j;">
                                <td class="text-center">{{j + 1}}</td>
                                <td>{{i.nombre}}</td>
                                <td (click)="asignarRol(userRolModal.id, i.id)" class="text-center"><a title="Asignar rol" style="cursor: pointer;"><i class="fas fa-check text-success"></i></a></td>
                              </tr>
                            </tbody>
                          </table>
                          <p class="text-center" *ngIf="!loadingUserRoles && userRolesDisponibles?.length==0">No existen roles disponibles</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>