<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/mis-proyectos']"><i class="fas fa-home"></i></a>
                <li class="breadcrumb-item"><a [routerLink]="['/mis-proyectos', proyectoId, 'overview']">Proyecto</a>
                </li>
                <li class="breadcrumb-item"><a [routerLink]="['/mis-proyectos', proyectoId, 'fases']">Fases</a>
                </li>
                <li class="breadcrumb-item"><a [routerLink]="['/mis-proyectos', proyectoId, 'fases', faseId, 'items']">Items</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Lineas Base</li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <h5 class="font-weight-bolder text-black-50">
                    Líneas Base
                </h5>
            </div>
            <div class="col-12">
                <button type="button"
                    class="btn btn-success btn-sm my-2" data-toggle="modal"
                    data-target="#addLineaBase">AGREGAR <i class="fas fa-plus ml-2"></i></button>
            </div>
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="width: 25%;">Nombre</th>
                                <th style="width: 25%;">Descripción</th>
                                <th style="width: 20%;">Observación</th>
                                <th style="width: 20%;">Estado</th>
                                <th style="width: 10%;" class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of lineasBase | paginate: { itemsPerPage: 10, currentPage: p }">
                                <td><span class="text-success">{{i.codigo}}</span>  - {{i.nombre}}</td>
                                <td>{{i.descripcion}}</td>
                                <td>{{i.observacion}}</td>
                                <td>{{eLB[i.estado.nombre]}}</td>
                                <td class="text-center">
                                    
                                    <span *ngIf="i.estado.nombre == 'AB'">
                                        <a (click)="lbEdit=i;" data-toggle="modal" data-target="#editLineaBase" style="cursor: pointer;"
                                            title="Editar Linea base" class="text-warning mr-2">
                                            <i class="fas fa-edit fa-lg"></i>
                                        </a>
                                        <a (click)="getItems(); selectedLB = i;" data-toggle="modal" data-target="#modalItems" style="cursor: pointer;"
                                        title="Gestionar items" class="text-success">
                                        <i class="fas fa-clipboard-list fa-lg"></i></a>
                                    </span>
                                    <span *ngIf="i.estado.nombre == 'CE'">
                                        <a (click)="verItemsAsociados(i.id)" data-toggle="modal" data-target="#modalItemsVer" style="cursor: pointer;"
                                        title="Ver items" class="text-primary mr-2">
                                        <i class="fas fa-eye fa-lg"></i></a>
                                        <a (click)="openRupturaLB(i)" data-toggle="modal" data-target="#rupturaLB" style="cursor: pointer;"
                                        title="Solicitar ruptura" class="text-danger">
                                            <i class="fas fa-times-circle fa-lg"></i>
                                        </a>
                                    </span>
                                    <span *ngIf="i.estado.nombre == 'RE'">
                                        <a (click)="verItemsAsociados(i.id)" data-toggle="modal" data-target="#modalItemsVer" style="cursor: pointer;"
                                        title="Ver items" class="text-primary mr-2">
                                        <i class="fas fa-eye fa-lg"></i></a>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel="" nextLabel="">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addLineaBase" tabindex="-1" role="dialog" aria-labelledby="addLineaBaseLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addLineaBaseLabel">Agregar rol</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <label for="">Nombre <span>*</span></label>
                        <div class="input-group mb-3">
                            <input [(ngModel)]="lbAdd.nombre" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="">Descripción <span>*</span></label>
                        <div class="input-group mb-3">
                            <input [(ngModel)]="lbAdd.descripcion" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="">Observación</label>
                        <div class="input-group mb-3">
                            <input [(ngModel)]="lbAdd.observacion" type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button (click)="postLB()" type="button" class="btn btn-primary">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editLineaBase" tabindex="-1" role="dialog" aria-labelledby="editLineaBaseLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editLineaBaseLabel">Editar Linea Base</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <label for="">Nombre <span>*</span></label>
                        <div class="input-group">
                            <input [(ngModel)]="lbEdit.nombre" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="">Descripción <span>*</span></label>
                        <div class="input-group">
                            <input [(ngModel)]="lbEdit.descripcion" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="">Observación</label>
                        <div class="input-group">
                            <input [(ngModel)]="lbEdit.observacion" type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button (click)="putLB()" type="button" class="btn btn-primary">
                    Actualizar
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalItems" tabindex="-1" role="dialog" aria-labelledby="modalItemsLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-black-50" id="modalItemsLabel">Items - Linea Base</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <h5 class="font-weight-bolder text-black-50">
                            Items
                        </h5>
                    </div>
                    <div class="col-12">
                        <ul class="list-group">
                            <li *ngFor="let i of items; index as j;" class="list-group-item">
                                <a (click)="addItem(i,j)" title="Agregar item" style="cursor: pointer;" class="float-right"><i class="fas {{!itemsSelected[j]?'fa-plus-circle text-success':'fa-times-circle text-danger'}} fa-lg"></i></a>
                                <h5 class="text-black-50 font-weight-bolder">{{i.nombre}}</h5>
                                <p class="text-success">{{i.codigo}}</p>
                                <hr>
                            </li>
                          </ul>
                    </div>
                    <div class="col-12">
                        <button (click)="asociarItems()" [class.dis]="itemsRelacionar.length == 0" class="btn btn-success btn-sm btn-block w-75 mx-auto my-3">ASOCIAR ITEMS Y CERRAR LINEA BASE</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalItemsVer" tabindex="-1" role="dialog" aria-labelledby="modalItemsVerLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-black-50" id="modalItemsVerLabel">Items asociados</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <ul class="list-group">
                            <li *ngFor="let i of verItems; index as j;" class="list-group-item">
                                <h5 class="text-black-50 font-weight-bolder">{{i.nombre}}</h5>
                                <p class="text-success">{{i.codigo}}</p>
                                <hr>
                            </li>
                          </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="rupturaLB" tabindex="-1" role="dialog" aria-labelledby="rupturaLBLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rupturaLBLabel">Solicitud de Ruptura - {{rupturaTarget.nombre}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-10 offset-1">
                        <label for="">Motivo de solicitud <span>*</span></label>
                        <div class="input-group mb-3">
                            <textarea [(ngModel)]="ruptura.mensaje" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="col-10 offset-1">
                        <label for="">Ítem a modificar <span>*</span></label>
                        <div class="input-group mb-3">
                            <select [(ngModel)]="ruptura.item" class="custom-select">
                              <option selected>Elegir</option>
                              <option *ngFor="let i of rupturaItems" value="{{i.id}}">{{i.codigo}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button (click)="postRuptura()" type="button" class="btn btn-primary">
                    Enviar Solicitud
                </button>
            </div>
        </div>
    </div>
</div>