<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/mis-proyectos']"><i class="fas fa-home"></i></a>
                <li class="breadcrumb-item"><a [routerLink]="['/mis-proyectos', proyectoId, 'overview']">Proyecto</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Tipos de Items</li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <h5 class="font-weight-bolder text-black-50">
                    Tipos de items
                </h5>
            </div>
            <div class="col-12">
                <button type="button" class="btn btn-success btn-sm my-2 mr-2" data-toggle="modal"
                    data-target="#agregarTipoItem">AGREGAR <i class="fas fa-plus ml-2"></i></button>

                <button (click)="getImportables()" type="button" class="btn btn-success btn-sm my-2" data-toggle="modal"
                    data-target="#importarTipoItem">IMPORTAR <i class="fas fa-file-import ml-2"></i> </button>
            </div>
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="width: 80%;">Nombre</th>
                                <th style="width: 20%;" class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of tipoItems | paginate: { itemsPerPage: 10, currentPage: p }">
                                <td>{{i.nombre}}</td>
                                <td class="text-center">
                                    <a (click)="gestion=i;gestionId=i.id;gestionar(i.id)" data-toggle="modal"
                                        data-target="#atributosTipoItem" style="cursor: pointer;" title="Gestionar"
                                        class="text-primary">
                                        <i class="fas fa-edit fa-lg"></i></a>
                                    <a (click)="deleteTipoItem(i.id)" style="cursor: pointer;" title="Eliminar"
                                        class="text-danger ml-2">
                                        <i class="fas fa-trash-alt fa-lg"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel="" nextLabel="">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="agregarTipoItem" tabindex="-1" role="dialog" aria-labelledby="agregarTipoItemLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agregarTipoItemLabel">Agregar Tipo de Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="input-group">
                            <input [(ngModel)]="tipoItem.nombre" type="text" class="form-control" placeholder="Nombre"
                                aria-label="nombres" aria-describedby="nombres">
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <div class="input-group">
                            <input [(ngModel)]="tipoItem.descripcion" type="text" class="form-control"
                                placeholder="Descripcion" aria-label="descripcion" aria-describedby="descripcion">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button (click)="postTipoItem()" type="button" class="btn btn-primary">
                    <span *ngIf="loadingSave" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span>
                    <span [class.sr-only]="loadingSave">Guardar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="importarTipoItem" tabindex="-1" role="dialog" aria-labelledby="importarTipoItemLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="importarTipoItemLabel">Importar Tipo de Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div *ngFor="let i of importables" class="col-12 mb-3">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">{{i.tipoItem.nombre}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{i.tipoItem.descripcion}}</h6>
                            </div>
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted">Atributos</h6>
                                <ul class="list-group mb-2">
                                    <li style="padding: 6px 10px;" *ngIf="i.atributos.length == 0"
                                        class="list-group-item"><b>No posee atributos</b></li>
                                    <li style="padding: 6px 10px;" *ngFor="let k of i.atributos"
                                        class="list-group-item">- {{k.nombre}} (<b>{{k.type}}</b>)</li>
                                </ul>
                                <button (click)="postByImport(i)" class="btn btn-sm btn-success float-right">Importar <i
                                        class="fas fa-file-import ml-2"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="atributosTipoItem" tabindex="-1" role="dialog" aria-labelledby="atributosTipoItemLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="atributosTipoItemLabel">Atributos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-6 offset-md-3">
                        <label for="">Nombre</label>
                        <div class="input-group mb-3">
                            <input [(ngModel)]="gestion.nombre" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 offset-md-3">
                        <label for="">Descripción</label>
                        <div class="input-group mb-3">
                            <input [(ngModel)]="gestion.descripcion" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                        <button (click)="putTipoItem(gestion)" type="button" class="btn btn-sm btn-block btn-success mb-3">ACTUALIZAR</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h6>Disponibles</h6>
                        <table class="table table-striped table-bordered">
                            <thead class="bg-primary text-white">
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Tipo</th>
                                    <th class="text-center" scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let i of ad">
                                    <td>{{i.nombre}}</td>
                                    <td>{{i.type}}</td>
                                    <td class="text-center"><a (click)="asignar(gestionId, i.id)"
                                            title="Asignar atributo" style="cursor: pointer;"><i
                                                class="fas fa-check text-success fa-lg"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="text-center text-secondary w-100" *ngIf="!loadingGestionar && ad.length == 0"> No
                            existen atributos disponibles</p>
                    </div>
                    <div class="col-6">
                        <h6>Asignados</h6>
                        <table class="table table-striped table-bordered">
                            <thead class="bg-primary text-white">
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Tipo</th>
                                    <th class="text-center" scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let i of aa">
                                    <td>{{i.nombre}}</td>
                                    <td>{{i.type}}</td>
                                    <td class="text-center"><a (click)="desasignar(gestionId, i.id)"
                                            title="Remover atributo" style="cursor: pointer;"><i
                                                class="fas fa-times fa-lg text-danger"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="text-center text-secondary w-100" *ngIf="!loadingGestionar && aa.length == 0"> No
                            existen atributos asignados</p>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>