<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/mis-proyectos']"><i class="fas fa-home"></i></a>
                <li class="breadcrumb-item"><a [routerLink]="['/mis-proyectos', proyectoId, 'overview']">Proyecto</a>
                </li>
                <li class="breadcrumb-item"><a [routerLink]="['/mis-proyectos', proyectoId, 'fases']">Fases</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Tipos Item</li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h4 class="text-black-50"><span class="font-weight-bolder text-primary">{{fase.nombre}}</span></h4>
        <h5 class="text-black-50">Descripción: <span class="font-weight-bolder text-primary">{{fase.descripcion}}</span></h5>
        <h5 class="text-black-50">Orden: <span class="font-weight-bolder text-primary">{{fase.orden}}</span></h5>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h5 class="text-black-50 font-weight-bolder my-2">Tipos de item disponibles</h5>
        <table class="table table-striped table-bordered my-2">
            <thead class="bg-primary text-white">
                <tr>
                    <th style="width: 80%;">Nombre</th>
                    <th class="text-center" style="width: 20%;">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of tiposDisponibles">
                    <td>{{i.nombre}}</td>
                    <td class="text-center">
                        <a (click)="postTiposItemFase(i.id)" title="Asignar tipo de item" style="cursor: pointer;">
                            <i class="fas fa-check text-success fa-lg"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h5 class="text-black-50 font-weight-bolder my-2">Tipos de item asignados</h5>
        <table class="table table-striped table-bordered mt-2 mb-4">
            <thead class="bg-primary text-white">
                <tr>
                    <th style="width: 80%;">Nombre</th>
                    <th class="text-center" style="width: 20%;">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of tiposAsignados">
                    <td>{{i.tipoitem.nombre}}</td>
                    <td class="text-center">
                        <a (click)="deleteTiposItemFase(i.id)" title="Asignar tipo de item" style="cursor: pointer;">
                            <i class="fas fa-times text-danger fa-lg"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>