/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

a{
    cursor: pointer;
}

label {
    color: #007bff;
}

label span {
    color: red;
}

.dis {
    pointer-events: none;
    opacity: 0.5;
}