<div class="row">
    <div class="col-12">
        <h4 class="font-weight-bolder text-black-50">Agregar Proyecto</h4>
    </div>
    <div class="col-12 mb-3">
        <label for="">Nombre del proyecto <span>*</span></label>
        <div class="input-group">
            <input [(ngModel)]="proyecto.nombre" name="nombre" type="text" class="form-control">
        </div>
    </div>
    <div class="col-12 mb-3">
        <label for="">Descripción <span>*</span></label>
        <div class="input-group">
            <textarea [(ngModel)]="proyecto.descripcion" name="descripcion" class="form-control"></textarea>
        </div>
    </div>
    <div class="col-12 mb-3">
        <label for="">Cantidad de miembros de comité (Impar, mínimo 3)<span>*</span></label>
        <div class="input-group">
            <input type="number" [(ngModel)]="proyecto.cantidad_comite" name="cantidad" class="form-control">
        </div>
    </div>
    <div class="col-12">
        <label for="">Gerente del proyecto <span>*</span></label>
        <div class="input-group mb-3">
            <ng-select [items]="usuarios" bindValue="id" bindLabel="username" [clearable]="false" style="width: 100%;"
                [(ngModel)]="proyecto.gerente_id" loadingText="Cargando..."
                notFoundText="Sin resultados" [placeholder]="'Elegir...'"
                [virtualScroll]="true">
            </ng-select>
        </div>
    </div>
    <div class="col-12">
        <button (click)="postProyecto()" type="button" class="btn btn-primary btn-lg float-right">Guardar Proyecto</button>
    </div>
</div>
